.footer {
  background-color: #1f1f1f;
}

.footer h5 {
  margin-bottom: 15px;
}

.footer p {
  font-size: 14px;
  color: #ccc;
}

.footer-link {
  color: #ccc;
  text-decoration: none;
  display: block;
  margin-bottom: 8px;
}

.footer-link:hover {
  color: #0d6efd;
  text-decoration: underline;
}
