.navbar {
  transition: all 0.3s ease-in-out;
}

.nav-link {
  font-weight: 500;
  margin-right: 10px;
}

.nav-link:hover {
  color: #0d6efd !important;
}

.active {
  color: #0d6efd !important;
  font-weight: 600;
}

.btn {
  border-radius: 20px;
}
